@media screen and (max-width: 800px) {
    body{
        min-width:400px;
        background-color: lightgrey;
        margin:0;
        background: radial-gradient(#052643, #000000);

    }
    article, header, footer, nav{
        background-color: rgba(0,0,0,0.0);
        color: white;
        width: 100%;
        border: 1px solid black;
    }
    article{    
        width: 80vw;
        margin-left:auto;
        margin-right:auto;
        padding: 0 15px 0 15px;
        
    }
    nav{
        width: 100%;
        height: 50px;
        
    }
    footer{
        height: 50px;
    }
    p{
        padding: 0 15px 20px 15px;
    }
    h3{
        padding-top:20px;
    }
    .nav li{
        float: right;
        padding-right: 30px;
        list-style-type: none;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: -10px;
    }
    .foot li{
        float: right;
        padding-left: 20px;
        list-style-type: none;
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 18px;
        margin-right: 20px;
        
    }
    
}
@media screen and (min-width: 800px) {
    body{
        min-width: 700px;    
        background: radial-gradient(#052643, #000000);
    }
    nav,article{
        float: left;
        
        
          
    }
    article, header, footer, nav{
        background-color: rgba(0,0,0,0.0);
        color: white;        
    }
    h1{
        text-align: center;
    }
    footer{
        clear:both;
    }
    .row{
        overflow: hidden;
        
    }
    .row::after {
        content: "";
        clear: both;
        display: block;
       }
    [class*="col-"] {
        float: left;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .foot li{
    float: right;
    padding-left: 20px;
    list-style-type: none;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: -10px;
    margin-top: 18px;    
    }
    .nav li{
        list-style-type: none;
    }
}

@media screen and (max-width: 500px) {
    article{
        width: auto;
    }
}